include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft paypal_express_checkout 
global-exclude *.orig *.pyc *.log
prune paypal_express_checkout/tests/coverage
prune paypal_express_checkout/.ropeproject
