include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft paymantpal
global-exclude *.orig *.pyc *.log
prune paymentpal/tests/coverage/
prune paymentpal/.ropeproject/
